.cardsItem {
    border: 1px solid black;
    border-radius: 10px;
    width: 220px;
    height: 270px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
    padding: 10px;
}

.productName {
    font-size: 18px;
    text-align: center;
}

.cardImage {
    height: 130px;
}

.price {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}